:root{
  --body-top-bg:#121212;
  --body-bottom-bg:#050505;
  --header-bg:#5b0b0b;
  --fg:#e6e6e6;
  --muted:#9a9a9a;
  --accent:#d9c7a6;
}

*{
 margin: 0;
 padding: 0;
}

body{
  background: radial-gradient(circle at top, var(--body-top-bg) 20%, var(--body-bottom-bg));
  /*background: #fff;*/
  color: var(--fg);
}

/* HEADER */
.site-header{
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(12px);
  background: linear-gradient(
    to bottom,
    rgba(15,15,15,0.75),
    rgba(10,10,10,0.4)
  );
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.header-inner{
  /* max-width: 1200px; */
  margin: auto;
  margin-top: 0;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* BRAND */
.brand{
  font-family: 'Cinzel', serif;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

/* NAV */
.main-nav ul{
  display: flex;
  gap: 32px;
  list-style: none;
  background: rgba(120,120,120,0.4);
  backdrop-filter: blur(20px);
  blur: 0.6;
  padding: 13px 50px;
  border-radius: 12px;
}

.main-nav a{
  text-decoration: none;
  color: var(--muted);
  font-size: 0.9rem;
  position: relative;
  transition: color 0.3s ease;
}

.main-nav a:hover{
  color: #fff;
}

.main-nav a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: var(--accent);
  transition: width 0.3s ease;
}

.main-nav a:hover::after{
  width: 100%;
}

/* BUTTON */
.language-btn{
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  color: #fff;
  padding: 8px 16px;
  border-radius: 999px;
  cursor: pointer;
  backdrop-filter: blur(8px);
  transition: all 0.3s ease;
  visibility: none;
}

.language-btn:hover{
  background: rgba(255,255,255,0.18);
}

/* hero */
.hero{
 display: flex;
 flex-direction: column;
 padding: 12px;
 margin: 23px;
 margin-top: 7px;
 height: 500px;
 justify-content: center;
 align-items: center;
 background: color-mix(in srgb, var(--accent) 40%, transparent);
 
 background-filter: blur(16px);
 border-radius: 12px;
}

.sub-hero{
 font-size: 30px;
}