*{
 margin: 0;
 padding: 0;
}

body{
 background: #213;
 color: #d9d5d3;
}

/*================= Header =================*/

.Header{
 display: flex;
 justify-content: space-between;
 align-content: center
 height: 60px;
 margin-left: 12px;
 margin-right: 12px;
}

.h-left {
 font-size: 25px;
}

/*================= Hero =================*/

.hero {
  /*background-color: #968;*/
  background-image: url('images/Screenshot_DungeonCrush_Hero.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  min-height: 60vh;     /* Responsive */
}
